@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2><strong>About</strong></h2></center>
<div style="font-size: 20px; text-align: justify;">
    <p>
        Ukraine International Airlines (UIA) is the flagship carrier and largest airline in Ukraine.
        The Ukraine International Airlines (UIA) is operating domestic and international passenger flights,
        not only for passenger Ukraine International Airlines (UIA) also offer the service for cargo services
        to Europe, Middle East, United States and Asia. This Airlines have a will to expand their market, but
        they have problem with the website development for their customers that beyond Ukraine. The site experienced
        by Ukraine International Airlines (UIA) severe denial-of-service (DOS) attacks. Which hurt site performance and
        reliability, and it did not have the performance needed to host visitors from many parts of the world.
    </p>
</div>